<div class="spinner" *ngIf="loading">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

<div class="container mt-5" *ngIf="!loading">
  <div class="row">
    <div class="col-12 d-flex justify-content-between">
      <h1 class="text-center">Mascotas sin hogar</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="mystyle">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Tipo</th>
            <th scope="col">Opcion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pet of data">
            <td>{{ pet.name }}</td>
            <td>{{ pet.age }} años</td>
            <td>{{ pet.type }}</td>
            <td>
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                (click)="selectPet(pet.code)"
              >
                editar
              </button>
              <button
                type="button"
                class="btn btn-danger ms-4"
                (click)="deletePet(pet.code)"
              >
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
          Crear Mascota
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Nombre"
            [(ngModel)]="name"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updatePetName()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
