<header>
  <div id="intro-example" class="img">
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3 text-center">Hay Que Cuidarlos</h1>
          <h5 class="mb-4 text-center">
            Tenemos muchos amiguitos para adoptar
          </h5>
          <button class="btn btn-outline-light btn-lg m-2" (click)="adoptar()">¡Adopta Ya!</button>
          <button class="btn btn-outline-light btn-lg m-2" (click)="addPetWithoutOwner()">Dar en Adopción</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
